
@page "/xtc/assloud/content"

<Space Direction="DirectionVHType.Vertical">
    <SpaceItem>
        <Button Type="@ButtonType.Primary" OnClick="@__debugClick">Call</Button>
    </SpaceItem>

    <SpaceItem>
        <Text>Match:</Text>
        <TextArea @bind-Value="@__debugMatch" Rows="4" ReadOnly="true" />
    </SpaceItem>

</Space>
@code {
}
